<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Navbar</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <a href="#">Logo</a>
        </div>
        <ul class="nav-list">
            <a href="/users/sign-in" class="sign-in">Sign In</a>
            <a href="/users/sign-up" class="sign-up">Sign Up</a>
        </ul>
    </nav>
</body>
</html>