<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/user_profile.css">
<!-- Add icon library -->
<div class="main">
<div class="card">
    <img src="/images/IMG_20220506_225936_369.png" alt="Abhishek Raj" style="width:100%">
    <h1>
        <%= user.name %>
            <%= user.email %>
                <%= user.password %>
    </h1>
    <p class="title">CEO & Founder, Example</p>
    <p>Maharishi Markandeswar University</p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/abhishekrajverma/"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <!-- <p><button><a href="/home1">Portfolio</a></button></p> -->
    <button id="logoutButton"><a href="/">Back</a></button></p>
</div>
</div>

<script src="/js/user.js"></script>