body {
    font-family: sans-serif;
}

#cl {
    text-align: center;
}

.list {
    list-style: none;
}

.para {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-style: dotted;
    border-radius: 30px;
    background-color: aquamarine;
}
form{
    display: flex;
    justify-content: space-evenly;
}
button{
    background-color: navajowhite;
}